body {
  background: -webkit-gradient(linear, left top, right top, from(rgba(59, 13, 13, 0.6)), to(rgba(59, 13, 13, 0.8))), url("../img/bg.jpg") center/cover fixed no-repeat;
  background: linear-gradient(to right, rgba(59, 13, 13, 0.6), rgba(59, 13, 13, 0.8)), url("../img/bg.jpg") center/cover fixed no-repeat;
}

.area-cliente {
  background: rgba(1, 1, 1, 0.5);
  height: 560px;
  border-radius: 28px;
  margin-top: 3%;
  text-align: center;
  border: solid 1px #ffffff;
}

.row-img {
  position: relative;
  width: 40%;
  height: 38%;
  margin-top: 8%;
}

.img-cliente {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  border: solid 8px rgba(174, 10, 20, 0.7);
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  position: absolute;
}

h1 {
  font-family: "Lobster", cursive;
  color: #ffffff;
  font-size: 30px;
  padding-top: 4%;
}

.area-cliente > .background-area {
  background: rgba(238, 173, 45, 0.4);
  width: 100%;
  height: 300px;
  border-radius: 28px;
  text-align: center;
  border: solid 1px #ffffff;
}

.area-info {
  background: rgba(1, 1, 1, 0.5);
  border-radius: 28px;
  margin-top: 3%;
}

i {
  font-size: 20px;
  right: 20px;
  position: relative;
}

.agendamentos {
  text-decoration: none;
  border: none;
  padding: 6px 12px;
  width: 90%;
  border-radius: 12px;
  height: 50px;
  background: #ffffff;
  margin-top: 30%;
  font-size: 20px;
  outline: none;
  font-family: "Lobster", cursive;
  color: #FF3300;
  font-weight: bold;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.agendamentos:hover {
  background: rgba(171, 0, 0, 0.6);
  color: #ffffff;
  transtion: all .5s ease-in-out;
}

.area-info {
  margin-left: 4%;
  border: solid 1px #ffffff;
}

.conjunto-file {
  position: absolute;
  bottom: 35px;
  margin-left: 57%;
  opacity: 0;
  transtion: all 2s ease;
}

.img-file {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

input[type='file'] {
  opacity: 0.02;
  position: absolute;
}

h2 {
  font-family: "Lobster", cursive;
  color: #FF3300;
  text-align: center;
}

#agendamento {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
}

h3 {
  color: #ffffff;
  font-size: 20px;
}

.line-agendamento {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 2px;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  color: rgba(238, 225, 45, 0.9);
  font-size: 18px;
  font-weight: bold;
  margin-top: 2%;
}

.btn-plus-agendamento {
  border: none;
  padding: 6px 12px;
  border-radius: 20px;
  width: 45%;
  height: 50px;
  margin-left: 28%;
  margin-top: 5%;
  transtion: all 2s ease;
  font-size: 20px;
  color: #FF3300;
  font-weight: bold;
}

.btn-plus-agendamento:hover {
  background: rgba(174, 10, 20, 0.3);
  color: #ffffff;
  font-weight: bold;
  font-size: 23px;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.icon-agendamento-plus {
  width: 35px;
  height: 35px;
  margin-right: 5%;
}

.modal-dialog {
  background: #ffffff;
  border-radius: 28px;
  margin-top: 8%;
}

.barbearia-dev {
  background: #17141d;
  width: 160px;
  height: 160px;
  position: absolute;
  top: -18%;
  left: 30%;
  border-radius: 50%;
  border: solid 2px rgba(174, 10, 20, 0.6);
}

h5 {
  color: #ffffff;
  font-family: "Lobster", cursive;
}

.line-sublinhada {
  border: solid 2px #FF3300;
  width: 80%;
  margin-left: 10%;
}

.rotate {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.modal-title {
  margin-top: 15%;
  margin-left: 25%;
  font-weight: bold;
  font-family: "Lobster", cursive;
  color: #FF3300;
  font-size: 30px;
}

select {
  outline: none;
}

.btn-agendar {
  width: 60%;
  margin-left: 20%;
  height: 50px;
  border: none;
  background: #17141d;
  font-family: "Lobster", cursive;
  color: #FF3300;
  border-radius: 20px;
  font-size: 25px;
}

.icon-agendar {
  color: #FF3300;
  width: 25px;
  height: 25px;
}

.card-email {
  width: 400px;
  height: 400px;
  background: black;
}
/*# sourceMappingURL=areaprincipal.css.map */