<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Área do Cliente</title>
  <!-- BOOTSTRAP CSS -->
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
 <!-- GOOGLE FONTS -->
 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">

  <link rel="stylesheet" href="../assets/sass/areaprincipal.css">

   <!-- ICONES VETORIZADOS -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
   crossorigin="anonymous">
 

</head>
<body>
  <div class="container-fluid">
    <div class="row p-2 d-flex mx-auto nowrap justify-content-arround justify-content-center">
      <div class="col-3 mr-3 area-cliente">
          <img class="img-cliente" src="../assets/img/profissional.jpg">
        <div class="background-area">
            <h1> Pedro C. Gomes</h1>

            <button class="agendamentos">
                <i class="far fa-calendar-alt"></i> Agendamentos</button>
            <button class="saldo-cliente"> 
                <i class="far fa-user"></i>
              Saldo Cliente </button>
            <button class="listar-atendimentos"> 
              <i class="fas fa-list"></i>
              Listar Atendimentos</button>
        </div>
          
      </div>

      <div class="col-7 area-info">

      </div>
    </div>
  </div>
</body>
</html>