<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../assets/sass/principal.css">

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">

    <!-- SLICK CARROSEL -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick-theme.css" rel="stylesheet">


    <!-- GOOGLE FONTS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">

    <!-- ICONES VETORIZADOS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
    crossorigin="anonymous">


    <title>Barbearia Dev</title>
</head>
<body>
    <div class="container-fluid p-2 info" id="icones-topo">
        <div class="row">
            <div class="col d-flex justify-content-center justify-content-md-between justify-content-sm-between align-items-baseline flex-wrap">
                <div class="p-3 info-icones">
                    <a href="#" class="mr-2" alt="facebook"><i class="fab fa-facebook-square fa-2x"></i></a>
                    <a href="#" class="mr-2" alt="instagram"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="#" class="mr-2" alt="twitter"><i class="fab fa-twitter-square fa-2x"></i></a>
                    <a href="#" class="mr-2" alt="whatsapp"><i class="fab fa-whatsapp-square fa-2x"></i></a>
                </div>
            </div>
            <h2 id="name-barbearia" class="p-2 text-capitalize">
                Barbearia Dev <img class="icon-barbearia" src="../assets/img/people.png" alt="Logo Barbearia">
            </h2>
        </div>
    </div>

    <header>
        <div class="container">
            <div class="row justify-content-center">
                <div class="card-login">
                    <form id="login" method="post">
                        <h1 class="h1-login" >Login</h1>
                        <p>
                            <img class="icon-inputs" src="https://img.icons8.com/dotty/80/000000/user-male.png"/>
                            <input placeholder="Email" name="email" id="email" type="text" class="input-login"></p>
                        <p>
                            <img class="icon-inputs" src="https://img.icons8.com/small/32/000000/password.png"/>
                            <i class="far fa-eye icon-eyes" id="open" hidden></i>
                            <i class="fa fa-eye-slash icon-eyes" id="close" aria-hidden="true"></i>
                            <input placeholder="Password" name="password" id="password" type="password" class="input-login">
                            
                        </p>
                        <a href="/cadastro" class="cadastrar"> Cadastrar</a>
                        <a href="#" class="esqueci"> Esqueci a senha</a>
                        <button class="btn-submit" type="button">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </header>


    <div class="container-fluid info justify-content-center text-center nav-func">
    
        <i class="fa fa-users fa-2x func" aria-hidden="true"></i>
        <h4 class="name-topico">Funcionários</h1>
    </div>

    <section id="funcionarios">
        <div class="row">
            <div class="col py-2">
                <div class="card-funcionario text-center">
                    <img class="profissional" src="../assets/img/profissional.jpg">

                    <h2 class="name-funcionario">Luis Corte</h2>
                    <div class="line-style"></div>

                    <button type="button" class="btn-contrate"> Agendar Horário</button>

                    <div class="py-1 redes-sociais">
                        <i class="fab fa-facebook-square mr-3"></i></a>
                        <i class="fab fa-instagram mr-3"></i></a>
                        <i class="fab fa-twitter-square mr-3"></i></a>
                        <i class="fab fa-whatsapp-square mr-3"></i></a>
                    </div>
                </div>
            </div>

            <div class="col py-2">
                <div class="card-funcionario text-center">
                    <img class="profissional" src="../assets/img/profissional.jpg">

                    <h2 class="name-funcionario">Pedro Juba</h2>
                    <div class="line-style"></div>

                    <button type="button" class="btn-contrate"> Agendar Horário</button>

                    <div class="py-1 redes-sociais">
                        <i class="fab fa-facebook-square mr-3"></i></a>
                        <i class="fab fa-instagram mr-3"></i></a>
                        <i class="fab fa-twitter-square mr-3"></i></a>
                        <i class="fab fa-whatsapp-square mr-3"></i></a>
                    </div>
                </div>
            </div>

            <div class="col py-2">
                <div class="card-funcionario text-center">
                    <img class="profissional" src="../assets/img/profissional.jpg">

                    <h2 class="name-funcionario">Higor Navalha</h2>
                    <div class="line-style"></div>

                    <button type="button" class="btn-contrate"> Agendar Horário</button>

                    <div class="py-1 redes-sociais">
                        <i class="fab fa-facebook-square mr-3"></i></a>
                        <i class="fab fa-instagram mr-3"></i></a>
                        <i class="fab fa-twitter-square mr-3"></i></a>
                        <i class="fab fa-whatsapp-square mr-3"></i></a>
                    </div>
                </div>
            </div>

            <div class="col py-2">
                <div class="card-funcionario text-center">
                    <img class="profissional" src="../assets/img/profissional.jpg">

                    <h2 class="name-funcionario">Lucas Gillete</h2>
                    <div class="line-style"></div>

                    <button type="button" class="btn-contrate"> Agendar Horário</button>

                    <div class="py-1 redes-sociais">
                        <i class="fab fa-facebook-square mr-3"></i></a>
                        <i class="fab fa-instagram mr-3"></i></a>
                        <i class="fab fa-twitter-square mr-3"></i></a>
                        <i class="fab fa-whatsapp-square mr-3"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div id="slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <!-- #INICIO - RECOMENDAÇÃO 1 -->
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 mx-auto d-flex descricao-profissional py-3">
                                <img class="descricao" src="../assets/img/profissional.jpg">

                                <div class="name">
                                    <h4>Luis Corte</h4>
                                    <p>
                                        Ótimo profissional, corte alinhado e com precisão
                                    </p>
                                </div>
                                    
                            </div>
                        </div>
                    </div>
                </div>




                <!-- #INICIO - RECOMENDAÇÃO 2 -->
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 mx-auto d-flex descricao-profissional py-3">
                                <img class="descricao" src="../assets/img/profissional.jpg">

                                <div class="name">
                                    <h4>Pedro Juba</h4>
                                    <p>
                                        Ótimo profissional, corte alinhado e com precisão
                                    </p>
                                </div>
                                    
                            </div>
                        </div>
                    </div>
                </div>


                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 mx-auto d-flex descricao-profissional py-3">
                                <img class="descricao" src="../assets/img/profissional.jpg">

                                <div class="name">
                                    <h4>Higor Navalha</h4>
                                    <p>
                                        Ótimo profissional, corte alinhado e com precisão
                                    </p>
                                </div>
                                    
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 mx-auto d-flex descricao-profissional py-3">
                                <img class="descricao" src="../assets/img/profissional.jpg">

                                <div class="name">
                                    <h4>Lucas Gillete</h4>
                                    <p>
                                        Ótimo profissional, corte alinhado e com precisão
                                    </p>
                                </div>
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="../assets/js/sweetalert2.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <!-- MEU SCRIPT -->
    <script src="../assets/js/index.js"></script>
    <script src="../assets/js/cadastro.js"></script>
    <script src="../assets/js/area.js"></script>
</body>
</html>